/* CHAT */
.chat {
  height: calc(100vh - var(--nav-height) - var(--nav-height) - 2rem);
  position: relative;
  top: var(--nav-height);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-bg);
  overflow: hidden;
  overflow-y: scroll;
}

/* user bubble */
.userBubble {
  width: fit-content;
  padding: 1rem;
  color: var(--main-text);
  border-radius: var(--border-radius);
  border-bottom-left-radius: 0;
  background-color: var(--user-bubble);
}

/* ai bubble */
.aiBubble {
  width: fit-content;
  padding: 1rem;
  align-self: flex-end;
  color: var(--main-text);
  border-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  background-color: var(--ai-bubble);
}

/*  ADAPTIVE */
@media (max-width: 700px) {
  .chat {
    padding: 2rem 1rem;
  }
}
