/* WELCOME */
.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.welcome > h2 {
  display: flex;
  gap: 0.4rem;
  font-size: clamp(1.5rem, 4vw, 2rem);
  opacity: 0.5;
  transform: scale(0.9);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.9, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

span {
  opacity: 0.1;
  filter: blur(5px);
}

span:nth-child(1) {
  animation: fade-in 1.2s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
  animation: fade-in 1.2s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
  animation: fade-in 1.2s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
  animation: fade-in 1.2s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
  animation: fade-in 1.2s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
  animation: fade-in 1.2s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.startButton {
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--secondary-text);
  border: 0.1rem solid var(--border);
  border-radius: 2rem;
  animation: Fade-button 3s cubic-bezier(0.5, 1, 0.9, 1);
}

@keyframes Fade-button {
  0% {
    transform: scale(0.9);
    opacity: 0.1;
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

/* HOVER */
.startButton:hover {
  border: 0.1rem solid var(--accent-light);
  cursor: pointer;
}
