/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
  border: 0;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  overflow-wrap: break-word;
  text-wrap: pretty;
}

ol,
ul {
  list-style: none;
}

/* GLOBALS */
* {
  transition: 0.5s;
}

body {
  min-height: 100vh;
  animation: fade-In 0.5s linear;
}

/* ANIMATION */
@keyframes fade-In {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
